body,
html,
#root {
  height: 100%;
  background-color: #0d0e16;
  color: #fcfcfd;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fcfcfd;
  margin: 0;
}

.ReactModal__Content--after-open {
  /*overflow-y: scroll !important;*/
  max-height: 98%;
}

p {
  margin: 8px 0px;
}
